.section-main {
    font-size: 18px;
}
.section-item {
    display: inline-block;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(205,220,231,.18);
    margin-right: 35px;
}
.section-item-title{
    color:#8f9297;
}
.section-item-value{
    color:#8f9297;
    font-size: 30px;
    text-align: center;
}
